/* Rimuovi le restrizioni di larghezza e margine */
#root {
  /* Assicurati che #root si estenda a tutta la larghezza e altezza dello schermo */
  max-width: none; /* Rimuovi la larghezza massima */
  margin: 0; /* Rimuovi i margini */
  padding: 0; /* Rimuovi il padding */
  width: 100vw; /* Imposta la larghezza al 100% della viewport */
  height: 100vh; /* Imposta l'altezza al 100% della viewport */
  display: flex; /* Usa flexbox per il layout */
  flex-direction: column; /* Disposizione in colonna per adattare il contenuto */
}

/* Assicurati che il logo e altri elementi non influenzino il layout globale */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

